<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Change Profile</h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <form name="profileForm" ng-submit="changeSettings(profileForm)">

        <div class="form-group">
          <label>Full Name</label>
          <input type="text" name="fullName" class="form-control" ng-model="user.fullName">
        </div>
        
        <div class="form-group">
          <label>City</label>
          <input type="text" name="city" class="form-control" ng-model="user.city">
        </div>

        <div class="form-group">
          <label>State</label>
          <input type="text" name="state" class="form-control" ng-model="user.state">
        </div>

        <button class="btn btn-default" type="submit">Change Profile</button>

      </form>
      <form class="form" name="passForm" ng-submit="changePassword(passForm)" novalidate>

        <div class="form-group">
          <label>Change Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"  placeholder="Current password"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" placeholder="New password"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-default" type="submit">Change Password</button>
      </form>
    </div>
  </div>
</div>