<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">

  <div class="row" ng-hide="isLoggedIn()">
    <div class="col-md-6 col-md-offset-1">
      <h1>My Book Club</h1>
    </div>

    <div class="col-md-3">
      <accordion close-others="true">
        <accordion-group heading="Login" is-open="true">
          <form name="loginForm"ng-submit="login(loginForm)">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="enter email" ng-model="user.email"equired>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="enter password"ng-model="user.password"required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </accordion-group>

        <accordion-group heading="Register">
          <form name="regForm" ng-submit="register(regForm)">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="enter email" ng-model="user.email"required>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="enter username" ng-model="user.name"required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="enter password" ng-model="user.password" required>
              <input type="password" class="form-control" id="password" placeholder="verify password" ng-model="user.passwordVerify" required>
            </div>
            <button type=s"submit" class="btn btn-default">Submit</button>
          </form>
        </accordion-group>
      </accordion>
    </div>
  </div>
  
  <div class="row" ng-show="isLoggedIn()">
    <div class="col-md-8 col-md-offset-2">
      <tabset class="tab-animation">

        <tab heading="my profile">
          <div class="text-center">
            <h3>{{getCurrentUser().name}}<br>
            <small>{{getCurrentUser().email}}</small></h3>
            <h4>{{getCurrentUser().fullname}}</h4>
            <h4>{{getCurrentUser().city}}, {{getCurrentUser().state}}</h4>
          </div>
        </tab>

        <tab heading="all books">
          <ul class="thumbnails">
            <li class="col-sm-4" ng-repeat="book in books | orderBy: '_id'">
              <div class="thumbnail">
                <img src="{{book.image}}" alt="">
                <h3>{{book._id}}<br>
                <small>{{book.author}}</small></h3>
                <p>{{book.desc}}</p>
                <p><small>submitted by {{book.contributor}}</small></p>
              </div>
            </li>
          </ul>
        </tab>

        <tab heading="add book">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form ng-submit="addBook()">
                <div class="form-group">
                  <label for="bookName">Book Name</label>
                  <input type="text" id="bookName" class="form-control" placeholder="enter book name" ng-model="bookData.name">
                </div>
                <div class="form-group">
                  <label for="bookAuthor">Book Author</label>
                  <input type="text" id="bookAuthor" class="form-control" placeholder="enter book author" ng-model="bookData.author">
                </div>
                <div class="form-group">
                  <label for="bookAuthor">Book Image</label>
                  <input type="text" id="bookAuthor" class="form-control" placeholder="enter image url" ng-model="bookData.img">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </tab>

      </tabset>
    </div>
  </div>
</div>