a {
	cursor: pointer !important;
	color: #555;
}
a:hover {
	color: #555;
}

/*TABS*/
.nav-tabs > li {
  width: 33.33%;
  text-align: center;
}

.nav-tabs > li.active > a {
	color: #34495E !important;
	border: 1px solid #67809F !important;
  border-bottom-color: transparent !important;
}

/*THUMBNAILS*/

ul.thumbnails, form {
	margin-top: 20px;
}

ul.thumbnails > li {
	list-style: none;
}

.thumbnail {
  padding: 4px 20px;
}

/*PANNELS*/

.panel-default > .panel-heading {
	color: white !important;
	background-color: #67809F;
	border-color: #67809F;
}

.panel-title > a:hover {
	color: white;
	text-decoration: none;
}

.panel-body label {
	color: #34495E;
}